html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}
.deck .card.dismatch {
    cursor: default;
    background: #da884c;
    font-size: 33px;
}


/*
 * Styles for the Score Panel & Modal
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

#modal .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

#modal .stars li {
    list-style: none;
    display: inline-block;
}

#modal {
  position: absolute;
  z-index: 100;
  background: #c2d76d;
  -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 1px;
  text-align: center;
  -moz-box-shadow: 3px 4px 0px 0px #415539;
	-webkit-box-shadow: 3px 4px 0px 0px #415539;
	box-shadow: 3px 4px 0px 0px #415539;
}

.hidden {
    display: none;
}

.congrats {
  color: #ab177d;
  font-size: 45px;
  margin-bottom: 0;
}

#modal .you-won {
  margin-top: 0;
  font-size: 30px;
}

/* Styling of the YES/NO buttons (tweaked, taken from: https://www.bestcssbuttongenerator.com) */

/* NO button */

.no-button {
  margin: 5px;
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color: #c62d1f;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	border:1px solid #d02718;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 20px;
	padding: 7px 25px;
	text-decoration:none;
  font-weight: bold;
	text-shadow:0px 1px 0px #810e05;
}
.no-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
  font-size: 22px;
}

/* YES button */

.yes-button {
  margin: 5px;
	-moz-box-shadow: 3px 4px 0px 0px #3e7327;
	-webkit-box-shadow: 3px 4px 0px 0px #3e7327;
	box-shadow: 3px 4px 0px 0px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #66a647));
	background:-moz-linear-gradient(top, #77b55a 5%, #66a647 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #66a647 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #66a647 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #66a647 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #66a647 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#66a647',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	padding:7px 25px;
	text-decoration:none;
  font-weight: bold;
	text-shadow:0px 1px 0px #5b8a3c;
}
.yes-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
  font-size: 22px;
}

.play-again-buttons {
  font-weight: bold;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
