/* Credits: gradients created with: https://mycolor.space/ */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: repeating-linear-gradient(
  90deg,
  #248AE7,
  #248AE7 10px,
  #187DD8 10px,
  #187DD8 20px
);
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(to right bottom, #8affff, #7dfbff, #70f8ff, #60f4ff, #4ff0ff);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 8px 8px 10px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    transition: transform 0.5s;
    transform-style: preserve-3d;

}

.deck .card.show {
    font-size: 33px;
}

/* Animation for matching cards */

@keyframes popIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    background: #02efda;
  }
  100% {
    transform: scale(1);
  }
}

.deck .card.match {
    cursor: default;
    background: #1cdb4f;
    font-size: 33px;
    animation: popIn .7s;
}


.deck .card.dismatch {
    cursor: default;
    background: #ff1956;
    font-size: 33px;
    transform: rotate(20deg);
}


/*
 * Styles for the Score Panel & Modal
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

#modal .stars,
.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

#modal .stars li,
.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

#modal {
  position: absolute;
  z-index: 100;
  background: linear-gradient(to bottom, #e9ff00, #41e66e, #00bea6, #0090b1, #00608b);
  -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 40px;
  padding-top: 1px;
  text-align: center;
  box-shadow: 8px 8px 10px 0 rgba(46, 61, 73, 0.5);

}

.hidden {
    display: none;
}

.congrats {
  color: #ff1956;
  font-size: 45px;
  margin-bottom: 0;
}

#modal .you-won {
  margin-top: 0;
  font-size: 30px;
}


.m-button {
  margin: 10px;
  border-radius: 10px;
	cursor: pointer;
	color: #ffffff;
	font-size: 20px;
	padding: 7px 25px;
  font-weight: bold;
}

/* NO button */

.no-button {
	background-color: #ff1956;
}

.no-button:hover {
	background-color:#e2003c;
  }

/* YES button */

.yes-button {
	background-color: #1cdb4f;
}

.yes-button:hover {
	background-color:#1cbc47;
}

.play-again-buttons {
  font-weight: bold;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
