/* general */
* {
  box-sizing: border-box;
margin: 0;
padding: 0;}

figure {
  padding: 0;
  margin: 0;
}
body {
 font-family: 'Open Sans', sans-serif;
  background: url(https://lorelleteaches.files.wordpress.com/2012/08/seamless-background-image-tile.jpg) repeat;
 }
header {
  background: #273296;
  padding: 30px;
  margin-bottom: 30px;
  color: #fff;
  letter-spacing: 1px;
}
 h1 {
   font-weight: bold;
   text-align: center;
 }
 h2 {
   font-family: 'Abril Fatface', cursive;
   margin: 15px 0;
   letter-spacing: 2px;
   padding: 0 20px;
 }
p {
  padding: 0 20px;
  padding-bottom: 20px;
}

.card {
  margin: 10px;

}
/* flexbox */
.container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}
.card {
    width: 30%;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #3D1E04;
  }

.card1, .card3 {
  color: #fff;
  background: #A65819;
  background: -webkit-linear-gradient(#A65819, #803F0A);
   background: -o-linear-gradient(#D47426, #803F0A);
   background: -moz-linear-gradient(#D47426,#803F0A);
   background: linear-gradient(#D47426, #803F0A);
}
.card2 {
  color: #273296;
  background: #D6925A;
  background: -webkit-linear-gradient(#D6925A, #FAB57D);
   background: -o-linear-gradient(#D6925A, #FAB57D);
   background: -moz-linear-gradient(#D6925A,#FAB57D);
   background: linear-gradient(#D6925A, #FAB57D);
}
/* other styles */

img {
  object-fit: cover;
  width:100%;
  height:270px;
  border-radius: 10px 10px 0 0;

}
img.centered {
  display: block;
    margin-left: auto;
    margin-right: auto
}

/* media queries */
@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .card {
    width: 100%;
  }
}
