/* --- General --- */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #414042;
}

h1, h2, h3, h4, h5, h5 {
  font-family: "Comfortaa", cursive;
}

h2 {
  color: #6b6a6b;
}

header, main, footer {
  width: 100%;
}

a {
  color: #92278f;
  text-decoration: none;
  font-weight: bold;
}

a:hover, a:active, a:visited {
  opacity: 0.8;
  text-decoration: underline;
}

/* --- Header --- */

#header__main {
  padding-top: 10px;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__headings_container {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.header__headings_container h1 {
  font-size: 1.8em;
  margin-top: 10px;
  margin-bottom: 0;
}

.header__headings_container h3 {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.header__logo {
  width: 100%;
  padding: 0 20px;
}

@media screen and (min-width: 320px) {
  .header__logo {
    padding: 0 40px;
  }
}

@media screen and (min-width: 400px) {
  .header__logo {
    padding: 0 60px;
  }

  .header__headings_container h1 {
    font-size: 2.3em;
  }

  .header__headings_container h3 {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 440px) {
  .header__logo {
    padding: 0 20px;
  }
}

@media screen and (min-width: 560px) {
  .header__logo {
    width: 37%;
    padding: 0;
  }

  .header__headings_container {
  width: 63%;
  padding-top: 15px;
  }

  .header__headings_container h1 {
    font-size: 2.4em;
    line-height: 1em;
    padding-left: 10px;
    padding-top: 10px;
    text-align: right;

  }
  .header__headings_container h3 {
    width: 100%;
    font-size: 1.2em;
    line-height: 1em;
    padding-top: 10px;
    text-align: right;
  }
}

@media screen and (min-width: 700px){
  .header__logo {
    width: 30%;
    height: 120px;
  }

  .header__headings_container {
  width: 70%;
  padding-top: 10px;
  }

  .header__headings_container h1 {
    font-size: 3em;
  }

  .header__headings_container h3 {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 900px) {
  header, main, footer {
    width: 900px;
    margin: 0 auto;
  }
}

hr {
  color: #c296c5;
  width: 100%;
}

/* --- Main --- */

.container {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__item h2 {
  text-transform: uppercase;
  margin: 5px;
}
.portfolio__item {
  margin: 5px;
}

@media screen and (min-width: 460px) {
  .portfolio__item {
    width: 50%;
  }
}

@media screen and (min-width: 700px) {
  .portfolio__item {
    width: 33.33%;
  }
}
