/* --- General --- */

* {
  box-sizing: border-box;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #414042;
}

h1, h2, h3, h4, h5, h5 {
  font-family: "Comfortaa", cursive;
}

/* --- Header --- */

#header__main {
  padding: 10px;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}

#header__main h1, #header__main h3 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

#header__main h1 {
  font-size: 1.8em;
  margin-top: 10px;
  margin-bottom: 0;

}

#header__main h3 {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.header__logo {
  width: 100%;
  padding: 0 20px;
}

@media screen and (min-width: 320px) {
  .header__logo {
    padding: 0 40px;
  }
}

@media screen and (min-width: 400px) {
  .header__logo {
    width: 45%;
    padding: 0;
  }
  #header__main h1{
    width: 55%;
    padding-left: 10px;
    font-size: 2.4em;
    text-align: left;

  }
  #header__main h3{
    width: 100%;
    font-size: 1.3em;
    padding-top: 10px;
  }
}
@media screen and (min-width: 440px) {
  .header__logo {
    padding: 0 20px;
  }
}
@media screen and (min-width: 610px){
  .header__logo {
    width: 30%;
  }
  #header__main h1, #header__main h3 {

    text-align: right;
    padding-right: 15px;
  }
  #header__main h1{
    width: 70%;
    font-size: 2.8em;
  }
}

hr {
  color: #c296c5;
  width: 100%;
}

/* --- Main --- */

#container__main {
  width: 100%;
  padding: 10px;
  padding-top: 0;
}
