* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #414042;
  background-color: #d9d3df;
}

h1, h2, h3, h4, h5, h5 {
  font-family: "Comfortaa", cursive;
}

h2 {
  color: #6b6a6b;
}

header, main, footer {
  width: 100%;
  padding: 0 10px;
}

header, main {
  background-color: #fff;
}

footer {
  background-color: #92278f;
  color: #fff;
  padding-bottom: 10px;
}

footer p {
  margin: 0;
  padding-top: 10px;
}

a {
  color: #92278f;
  text-decoration: none;
  font-weight: bold;
}

a:hover, a:active, a:visited {
  opacity: 0.8;
  text-decoration: underline;
}

.clearings {
  clear: both;
}

#header__main {
  padding-top: 10px;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__headings_container {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.header__headings_container h1 {
  font-size: 1.8em;
  margin-top: 10px;
  margin-bottom: 0;
}

.header__headings_container h3 {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.header__logo {
  width: 100%;
  padding: 0 20px;
}

@media screen and (min-width: 320px) {
  .header__logo {
    padding: 0 40px;
  }
}

@media screen and (min-width: 400px) {
  .header__logo {
    padding: 0 60px;
  }

  .header__headings_container h1 {
    font-size: 2.3em;
  }

  .header__headings_container h3 {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 440px) {
  .header__logo {
    padding: 0 20px;
  }
}

@media screen and (min-width: 560px) {
  .header__logo {
    width: 37%;
    padding: 0;
  }

  .header__headings_container {
  width: 63%;
  padding-top: 15px;
  }

  .header__headings_container h1 {
    font-size: 2.4em;
    line-height: 1em;
    padding-left: 10px;
    padding-top: 10px;
    text-align: right;

  }
  .header__headings_container h3 {
    width: 100%;
    font-size: 1.2em;
    line-height: 1em;
    padding-top: 10px;
    text-align: right;
  }
}

@media screen and (min-width: 700px){
  .header__logo {
    width: 30%;
    height: 120px;
  }

  .header__headings_container {
  width: 70%;
  padding-top: 10px;
  }

  .header__headings_container h1 {
    font-size: 3em;
  }

  .header__headings_container h3 {
    font-size: 1.4em;
  }
}

hr {
  color: #c296c5;
  width: 100%;
}

.container {
  text-align: center;
  width: 100%;
}

.portfolio__item h2 {
  text-transform: uppercase;
  margin: 5px 0;
}
.portfolio__item {
  float: left;
  margin-bottom: 15px;
  max-width: 100%;
}
.portfolio__item img {
  border: 0 hidden #fff;
  border-radius: 8px;
}

.portfolio__item img:hover {
  opacity: 0.9;
  -webkit-transition: all 1s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

#footer__main p{
  text-align: right;
}

@media screen and (min-width: 400px) and (max-width: 700px) {
  .portfolio__item {
    margin-right: 10px;
    width: calc((100% - 10px)/2);
  }
  .portfolio__item:nth-of-type(even) {
    margin-right: 0;
  }
}

@media screen and (min-width: 700px) {
  .portfolio__item {
    margin-right: 10px;
    width: calc((100% - 20px)/3);
  }
  .portfolio__item:nth-of-type(3n+0) {
    margin-right: 0;
  }
}
@media screen and (min-width: 900px) {
  header, main, footer {
    width: 900px;
    margin: 0 auto;
  }
}
