
* {
  box-sizing: border-box;
}

header, footer {
  width: 100%;
  padding: 30px;
  margin: 5px 0;

}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
  justify-content: flex-start;
}
.section {
  width: 60%;
  padding: 15px;
}

.list {
  width: 30%;
}

.change-opacity {
  opacity: 0.9;
}
