body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

header,
nav,
footer,
section,
article,
div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/*
 *
 * Common
 *
 */

.news__more {
  float: right;
  font-size: .8em;
  color: #333;
  text-decoration: none;
}


/*
 *
 * Header
 *
 */

.header {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  -webkit-transition: min-height 0.3s;
  transition: min-height 0.3s;
}

.header__inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.header__logo {
  height: 42px;
  margin-right: 0.5em;
  padding-left: 7px;
  vertical-align: top;
  margin-top: 12px;
  margin-bottom: 10px;
}

.header__title {
  font-weight: 300;
  font-size: 1.8em;
  margin: 1em 0.1em;
  display: inline-block;
  color: #212121;
}

.header__menu {
  display: inline-block;
  margin: 1em 0.5em;
  position: absolute;
  right: 5%;
  top: 5%;
}

@media screen and (min-width: 400px) {
  .header__title {
    font-size: 2.3em;
    margin-top: 0.6em;
  }
}

@media screen and (min-width: 450px) {
  .header__title {
    font-size: 3em;
    margin-top: 0.8em;
  }
  .header__menu, #menu-close {
    display: none;
  }
  .header__logo {
    height: 62px;
}
}
/*
 *
 * Top Level Navigation
 *
 */

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding: 24px;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  color: #616161;
  padding: 1.5em;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}
@media screen and (max-width: 450px) {

  .nav {
    width: 300px;
    position: absolute;
    -webkit-transform: translate(-300px, 0);
            transform: translate(-300px, 0);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    border-radius: 0 0 9px 0;
  }

  .nav__item {
    display: block;
    width: 100%;
    line-height: 14px;
    padding: 10px;
  }

  #menu-close {
    font-weight: bold;
    background-color: #e6e6e6;
    border-radius: 0 0 9px 0;
  }


  .nav.open__menu {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    z-index: 999;
    background: #fff;
  }
}

/*
 *
 * Main
 *
 */

main {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*
 *
 * Content
 *
 */
.content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*
 *
 * Hero
 *
 */

.hero {
  width: 100%;
  position: relative;
  background-image: url("./images/dog.jpg");
  background-size: cover;
  height: 300px;
}

.hero article {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  color: #fff;
  padding: 1em;
}


/*
 *
 * Top News
 *
 */

.top-news {
  height: 100%;
  border-bottom: 1px solid #E0E0E0;
  padding: 1em;
}

.news__title {
  font-weight: 300;
  border-bottom: 1px solid #E0E0E0;
  line-height: 24px;
  font-size: 16px;
}

.top-news__item {
  border-bottom: 1px solid #E0E0E0;
  padding: 1em 0;
  line-height: 19.2px;
}

.top-news__item:before {
  content: "» ";
}

.top-news__item:last-child {
  border-bottom: none;
}

.top-news__item a {
  text-decoration: none;
  color: #666;
}

.top-news__item a:hover,
.top-news__item a:active {
  text-decoration: underline;
}


/*
 *
 * Sport Scores
 *
 */

.scores {
  padding-top: 1em;
  width: 100%;
}

.scores__table {
  width: 100%;
  border-collapse: collapse;
}

.scores__table th,
.scores__table td {
  padding: 1em;
}

.scores__table th {
  color: #fff;
  font-weight: 300;
  background-color: #78909C;
}

.scores__table tr:nth-child(odd) td {
  background-color: #fff;
}

.scores__table tr:nth-child(even) td {
  background-color: #eceff1;
}

.scores__table td.winner {
  font-weight: bold;
}

.scores__table td:nth-child(3) {
  text-align: right;
}

.scores__table td:nth-child(2),
.scores__table td:nth-child(5) {
  text-align: center;
}

/*
 *
 * Weather
 *
 */

.weather {
  padding: 1em;
  margin-top: 20px;
  width: 100%;

}
.weather__details {
  width: 27%;
  float: left;
}

.weather__location {
  display: block;
  font-weight: 300;
  font-size: 1.5em;
}

.weather__desc {
  display: block;
  font-size: 1.2em;
}

.weather__today {
  vertical-align: middle;
}

.weather__today__image {
  vertical-align: middle;
  width: 50px;
}

.weather__today__temp {
  font-size: 3em;
}

.weather__today__deg {
  font-size: 2em;
  display: inline;
}
.weather__next{
  width: 70%;
  float: right;
}
.weather__next__item {
  display: inline-block;
  width: 20%;
  text-align: center;
}

.weather__next__item span {
  display: block;
}

.weather__next__image {
  width: 100%;
}


@media screen and (max-width: 390px) {
  .weather__details {
    width: 100%;
  }
  .weather__next {
    width: 100%;
  }
  .weather__next__image {
    width: 40px;
  }

  .weather__location {
    display: inline-block;
    font-size: 1.6em;
  }

  .weather__desc {
    display: block;
    font-size: 1.4em;
  }

  .weather__today {
  display: inline-block;
  margin-bottom:20px;
  }

  .weather__today__image {
    width: 70px;
  }

  .weather__today__temp {
    padding-left: 30px;
    font-size: 3em;
}
.weather__today__deg {
    font-size: 2em;
}
.snippet__thumbnail {
  display: none;
}
}
@media screen and (max-width: 450px) {
  .weather__today__temp {
    font-size: 1.8em;
  }

  .weather__today__deg {
    font-size: 1em;
    display: inline;
  }
}
@media screen and (min-width: 510px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero {
    width: 50%;
  }
  .top-news {
    width:50%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
@media screen and (min-width: 670px) {
  .hero {
    width: 60%;
  }
  .top-news {
    width:40%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    }
  .weather {
    width: 40%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .weather__details, .weather__next{
    display: block;
    width: 100%;
  }

  .scores {
    width: 60%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .recent-news {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  img.snippet__thumbnail {
    width: 200px;
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 800px) {
  #drawer, .header__inner, main {
    display: block;
    width: 800px;
    margin: 0 auto;
  }
}
/*
 *
 * Recent News
 *
 */

.recent-news {
  clear: both;
  padding: 1em;
}

.snippet {
  clear: both;
  margin: 24px 0;
}

.snippet__thumbnail {
  width: 100px;
  float: left;
  margin-right: 1em;
}

.snippet__title {
  font-weight: 500;
}

.snippet__title a {
  text-decoration: none;
  color: #666;
}

.snippet__title a:hover,
.snippet__title a:active {
  text-decoration: underline;
}


/*
 *
 * Footer
 *
 */

footer {
  border-top: 1px solid #E0E0E0;
  padding: 1em;
  width: 100%;
}

footer li {
  display: inline-block;
  margin: 0 1em;
}

footer a {
  text-decoration: none;
  color: #333;
  padding: 1.5em;
}
